---
layout: default
---
{% include calculate_relative_base.html %}
{% capture post_url %}{{ relativebase }}{{ page.url }}{% endcapture %}
{% assign post_url = post_url | replace: "//", "/" %}
<section class="hidden">
  <div class="post">
      <a  class="post-list-title" href="{{ post_url }}">{{ page.title }}</a>
      {% include post_meta.html type="post-card-meta" %}
        <div class="post-excerpt">
            {{ page.content | markdownify | strip_newlines | truncatewords: 100 }}<a class="read-more" href="{{ post_url }}"> read more</a>
        </div>
  </div>
</section>
<div class="flex-container transparent">
  {% include header.html %}
  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    {% include schema-meta.html %}
    <div class="page-image">
      <div class="cover-image" style="background: url('{{ relativebase }}assets/img/{{ page.img }}') center no-repeat; background-size: cover;"></div>
    </div>
    <div class="wrapper">
      <div class="page-content">
        <div class="header-page">
          <h1 class="page-title">{{ page.title }}</h1>
          {% include post_meta.html type="post-page-meta" %}
        </div>
        {% include sidebar.html context="post" class="side" id="sidebar" %}
        {% if page.toc %}{% include sidebar-toc.html %}{% endif %}
        {% include github-button.html %}
        {{page.content | markdownify}}
        {% include sidebar.html context="post" class="inline" id="post-end" %}
        <div class="separator"></div>
        {% include author-box.html %}
        {% include recent-post.html %}

        <!-- Gitalk 评论 start  -->

        <!-- Link Gitalk 的支持文件  -->
        <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
        <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
          <div id="gitalk-container"></div>
        <script type="text/javascript">
        var gitalk = new Gitalk({
            // gitalk的主要参数
            clientID: `5f7a3bed5a886914dd3a`, // 替换成你自己的 clientID
            clientSecret: `d459807a6224c6e739fe302c68caae575af9abdf`, // 替换成你自己的 clientSecret
            repo: `tugraph-analytics.github.io`, // 替换成你自己的仓库
            owner: 'tugraph-analytics', // 你的 GitHub 名
            admin: ['tugraph-analytics'], // 你的 GitHub 名
            id: decodeURI(location.pathname).slice(0, 49),
        });
        gitalk.render('gitalk-container');
        </script>
        <!-- Gitalk end -->


      </div>
    </div> <!-- End Wrapper -->
  </article>
  {% include search.html %}
  {% include footer.html %}
</div>

<!--        {% include newsletter.html %}-->
<!--{% include comments.html %}-->
